.sideBar{
    width: 120%;
    height: auto;
    background-color: rgb(63, 59, 166);
    box-shadow: 1px 1px 15px 0px rgb(63, 59, 166);
    
}

.sideBarSection{
    padding: 35px 65px;
    
}


.sideBarSection ul{
    list-style: none;
}

.sideBarSection ul li{
    margin-top: 35%;
    font-size: 18px;
}

.sideBarSection ul li a{
    text-decoration: none;
    color: aliceblue;
}