
.buttons{
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    
}
.buttons button{
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
}
.newsSection{
    display: flex;
    flex-wrap: wrap;  
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.newsItem{ 
  width: 20%;
  height: 70vh;
  background-color: #eceaea;
  border-radius: 10px; 
  box-shadow: 1px 1px 10px 0px rgb(190, 190, 190);
}

.newsItem h2{
    margin-top: 2%;
}

.newsItem img{
    width: 80%;
    height: 20vh;
    margin-top: 2%;
    border-radius: 5%;
}
