*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.60)), url(../images/event.jpg);
    background-size: cover;
    width: 100%;
    height: 85vh;
    background-size: cover;
}


.nav hr{
    width: 40%;
    margin-top: 1%;
    margin-left: 28%;
    background-color: #181818;
   
}

.signUpForm{
    text-align: center;
    background-color: rgb(210, 210, 209);
    width: 60%;
    height: 80vh;
    margin-top: -20%;
    margin-left: 20%;
    border-radius: 10px;
    
}

.signUpForm h1{
    padding-top: 2%;
}

.signUpForm form{
    margin-top: 3%;
    width: 100%;
    height: 80vh;

}

.signUpForm form input{
    width: 35%;
    padding: 8px;
    margin-top: 2%;
    border: #585858 1px solid;
    border-radius: 5px;
    background: none;

}

.signUpForm form button{
    margin-top: 3%;
    padding: 10px 15px;
    font-size: 15px;
    background: none;
    border: 1px solid #585858;
    border-radius: 5px;
    cursor: pointer;
}

.signUpForm p{
    margin-top: 2%;
}